{erl_opts, [
    warnings_as_errors,
    debug_info
]}.
{deps, [
    {just_mini, "0.*", {git, "git://github.com/PowerMeMobile/just_mini.git", {tag, "2.0.0"}}},
    {entop, "0.0.1", {git, "git://github.com/mazenharake/entop.git", {branch, "master"}}},
    {eper, ".*", {git, "git://github.com/massemanet/eper.git", {branch, "master"}}},
    {recon, ".*", {git, "git://github.com/ferd/recon.git", {tag, "2.2.0"}}},
    {sync, ".*", {git, "https://github.com/ten0s/sync.git", {branch, "dk_support_release"}}}
]}.
