{erl_opts, [warnings_as_errors]}.

{deps, [{just_mini, ".*", {git, "git://github.com/PowerMeMobile/just_mini.git",
                           {branch, "master"}}},
        {riak_err, ".*", {git, "git://github.com/basho/riak_err",
                          {branch, "master"}}},
        {entop, "0.0.1", {git, "git://github.com/mazenharake/entop.git",
                          {branch, "master"}}},
        {eper, ".*", {git, "git://github.com/massemanet/eper.git",
                      {branch, "master"}}}]}.
